*{
    margin: 0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 1.5px;
    margin: 0;
    overflow-x: hidden;
}
#nav a{
    color: white;
    text-decoration: none;
}
#nav a:hover{
    text-decoration: underline;
}   
#nav{
    display: flex;
    gap: 40px;
    padding: 10px;
    background-color: rgb(28, 72, 28);
}
#navlinks{
    display: flex;
    margin-left: auto;
    gap: 40px;
}
.bigimage{
    background-image: url(pexels-cnhood18-5588107.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}
.info-section {
    display: flex;
    align-items: center;
    padding: 50px;
    gap: 40px;
    background-color: white;
}

.info-section img {
    width: 50%;
    border-radius: 10px;
}

.text {
    width: 50%;
}
footer{
    text-align: center;
    background-color: rgb(28, 72, 28);
    color: white;

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;
}
.gallery img{
    height: 450px;
    width: auto;
    object-fit: cover;
    border-radius: 10px;
    border: 4px solid rgb(28, 72, 28);

}

#fish{
    width: 210px;

    position: absolute;
    bottom: 80px;
    left: -200px;

    z-index: 99999;

    animation:
        swim 10s linear infinite,
        flop 0.3s ease-in-out infinite alternate;
}

@keyframes swim{
    from{
        left: -200px;
    }

    to{
        left: 110%;
    }
}

@keyframes flop{
    from{
        transform: rotate(-10deg);
    }

    to{
        transform: rotate(10deg);
    }
}
#guts{
    position: fixed;
    width: 200px;
    height: 200px;
    display: none;
    pointer-events: none;
}

.chunk{
    position: absolute;
    width: 20px;
    height: 20px;
    background: darkred;
    border-radius: 50%;

    animation: splat 1s forwards;
}

@keyframes splat{
    from{
        transform: translate(0,0) scale(1);
        opacity: 1;
    }

    to{
        transform:
            translate(
                calc(var(--x) * 1px),
                calc(var(--y) * 1px)
            )
            scale(0);

        opacity: 0;
    }
}

#feedbackform{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#userinfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

#feedback{
    width: 400px;
    height: 100px;
}

input, textarea{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid gray;
}

button{
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background-color: gray;
    color: white;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}
#topsection{
    background-color: rgb(28, 72, 28);
    color: white;
    padding: 30px;
    width: 100%;
}

#topsection h2{
    margin: 0;
}

#thankyou a{
    color: rgb(28, 72, 28);
    text-decoration: none;
}

#thankyou a:hover{
    text-decoration: underline;
}

#bottomsection{
    color: black;
    padding: 30px;
}
hr{
    height: 2px;
    background-color: black;
    border: black;
}
#techniques h1{
    padding-left: 10px;
}
#techniques h1,h2{
    font-weight: bolder;
}
#techniques .info-section img {
    width: 50%;
    border-radius: 10px;   
    max-width: 400px; 
    margin: auto;
    display: block;
    border: 3px solid rgb(28, 72, 28);
    
}
#techniques h2{
    text-align: center;
}
#homepage{
    cursor: url("Cursor2.0.png") 16 16, auto;
}
#homepage button:hover{
    cursor: url("Cursor2.0.png") 16 16, pointer;
}
#homepage body:active{
    cursor: url("Cursor2.0.png") 16 16, grabbing;
}
#homepage #fish:active{
    cursor: url("Cursor2.0.png") 16 16, grabbing;
}
table{
    border: 2px solid black;
    width: 50%;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}
th, td{
    padding: 12px;
    border: 2px solid black;
}
th{
    background-color: rgb(28, 72, 28);
    color: white;
}
#baits #btitle{
    text-align: center;
}
.cat{
    padding-left: 10px;
}
#baits .info-section img {
    width: 50%;
    border-radius: 10px;   
    max-width: 400px; 
    margin: auto;
    display: block;
    border: 3px solid rgb(28, 72, 28);
    
}
#baits{
    color: white;
}
#topgreen{
    background-color: #355E3B;
}